.visible{
    display:inline;
}
.invisible{
    display:none;
}

.main-box h3, #timer, .box-buttons{
    text-align: center;
}
.container-config{
    justify-content: center;
    height: 200px;
    width: 100%;
    display: flex;
}


.pomodoro-config{
    text-align: center;
    height: 100px;
    width: 150px;
}

.work{
    background-color: tomato;
}
.break{
    background-color: cornflowerblue;
}
