.visible{
    display:inline;
}
.main-box h3, #timer, .box-buttons{
    text-align: center;
}
.container-config{
    justify-content: center;
    height: 200px;
    width: 100%;
    display: flex;
}

.container-timer{
    width:50%;
    margin: auto;
    padding: 2rem;
    background-color: rgb(196, 244, 244);
}

.pomodoro-config{
    text-align: center;
    height: 100px;
    width: 150px;
}

#timer{
    font-size: 1.5rem;
}
#cicle{
    font-size: 1.2rem;
}

.work{
    background-color: rgb(67, 23, 15);
    padding: 12px;
    font-weight: bold;
    color: white;
}
.break{
    background-color: rgb(14, 49, 49);
    padding: 12px;
    font-weight: bold;
    color: white;
}
